<div class="container">
  <header-component></header-component>
  <div class="row">
    <div class="col-md-12">
      <recipes-component></recipes-component>
      <shopping-list-component></shopping-list-component>
    </div>
  </div>
  <footer-component></footer-component>
</div>
